.contenedor{
    display: grid;
    width:38rem;
    height: 50rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr;
    gap: 1rem;
    border: solid 0.5rem  black;
    padding: 1rem;
    border-radius: 1rem;
    background-color: blanchedalmond;
   
}

.btn1{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 0.1rem  black;
    border-radius: 1rem;
    background-color: blue;
   
}

.btn2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 3rem;
    cursor: pointer;
    border: solid 0.1rem  black;
    border-radius: 1rem;
    background-color: red;
}

.cambio{
    grid-column-start: 1;
    grid-column-end: 3;
    border: solid 0.1rem  black;
    border-radius: 1rem;
}


.rojo{
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 1rem;
}

.azul{
    width: 100%;
    height: 100%;
    background-color: blue;
    border-radius: 1rem;
}
